<!-- Footer -->
<footer class="ui inverted vertical footer segment form-page body-footer">
    <div class="ui container center aligned">
        <div class="ui horizontal inverted small divided link list">
            <a class="item">
                ISEL. PS, 2017/2018
            </a>
            <a class="item" href="https://github.com/elianealmeida13/HOMI" target="_blank">
                <i class="github icon"></i>
                Github
            </a>
        </div>
    </div>
</footer>