<!-- Navbar -->
<nav class="ui inverted top attached menu body-navbar">
    <a class="item" href="{{backward}}">
        <i class="arrow left icon"></i>
    </a>
    <a href="#" class="header item">
        <img class="logo" src="/images/logo.jpg">
    </a>
    <a class="item" href="/">
        Home
    </a>
    <a class="item" href="/dataFile" title="Click to show data files">
        Data Files
    </a>
    <a class="item" href="/ontologyFile" title="Click to show ontology files">
        Ontology Files
    </a>
    <a class="item" href="/populate" title="Click to show populates">
        Populates
    </a>
    <a class="item right aligned" href="/download" title="Click to go to download page">
        <i class="download icon"></i>
    </a>
</nav>