<!-- Navbar -->
{{> navbar backward='/'}}
<div class="ui body-content">
    <div class="ui container">
        <h1 class="ui center aligned icon header">
            <i class="download icon"></i>
            <div class="content">
                Hybrid Ontology Mapping Interface
                <div class="sub header">You can download installation package bellow. But first of all, you need to install 2 tools.</div>
            </div>
        </h1>
        <div class="list" id="prerequisites-list">
            <div class="item">
                1. <a href="https://nodejs.org/en/download/" target="_blank">
                    Node.js
                </a>
            </div>
            <div class="item">
                2. <a href="https://www.mongodb.com/download-center/enterprise/releases" target="_blank">
                    MongoDb
                </a>
                <i>Choose the default port.</i>
            </div>
        </div>
    </div>
    <div class="ui center aligned container">
        <h4> Now, you can download it!
            <a href="/desktopapp-1.0.0-setup.exe" download="HOMI.exe">
                <i class="download icon"></i>
            </a>
        </h4>
        <h4> OntologyFile!
            <a href="http://chaospop.sysresearch.org/ontologies/teste.owl" download="text.owl">
                <i class="download icon"></i>
            </a>
        </h4>
        <form action="http://chaospop.sysresearch.org/ontologies/teste.owl" method="post" enctype="multipart/form-data">
            <p><button type="submit">Submit</button>
        </form>
    </div>
</div>
<!-- Footer -->
{{> footer}}