<!-- Navbar -->
{{#if (ifequals error.status 404)}}
    {{> navbar}}
{{else}}
    <div class="non-404-error">
        {{> navbar}}
    </div>
{{/if}}

<div class="ui body-content">
   <h3>{{message}}</h3>
    <h4>{{error.status}}</h4>
</div>
<!--Footer -->
{{> footer}}
