<!-- Navbar -->
{{> navbar}}
<div class="ui body-content index-body" id="files-content">
    <div class="ui internally celled three column grid">
        <div class="six wide column"  id="files-content-column">
            <h5 class="ui center aligned icon header">
                <i class="circular file alternate outline icon"></i>
                <div class="content">
                    DATA FILES
                    <div class="sub header">You can't upload a data file with the same name of another that already exists.</div>
                </div>
            </h5>
            <div>
                <div class="ui action input fluid" id="add-data-file">
                    <input type="text" id="data-file-input-text" placeholder="Data file name">
                    <input type="file" id="data-file-input" class="file-input" accept=".xml,.json">
                    <div class="ui icon basic button" onclick="submitFile('data-file', '/dataFile')" title="Click to add this data file">
                        <i class="plus icon"></i>
                    </div>
                </div>
            </div>
            <div class="ui fluid multiple search selection dropdown files-dropdown">
                <input name="data-files" value="data-files" type="hidden">
                <i class="dropdown icon"></i>
                <input class="search">
                <div class="default text">Data files..</div>
                <div class="menu" id="data-file-menu">
                    {{#each dataFiles}}
                        <div class="item" id="{{_id}}">{{name}}</div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="six wide column" id="files-content-column">
            <h5 class="ui center aligned icon header">
                <i class="circular file alternate outline icon"></i>
                <div class="content">
                    ONTOLOGY FILES
                    <div class="sub header">You can't upload an ontology file with the same name of another that already exists.</div>
                </div>
            </h5>
            <div>
                <div class="ui action input fluid">
                    <input type="text" id="ontology-file-input-text" placeholder="Ontology file name">
                    <input type="file" id="ontology-file-input" class="file-input" accept=".owl">
                    <div class="ui icon basic button" onclick="submitFile('ontology-file', '/ontologyFile')" title="Click to add this ontology file">
                        <i class="plus icon"></i>
                    </div>
                </div>
            </div>
            <div class="ui fluid multiple search selection dropdown files-dropdown">
                <input name="ontology-files" value="ontology-files" type="hidden">
                <i class="dropdown icon"></i>
                <input class="search">
                <div class="default text">Ontology files..</div>
                <div class="menu" id="ontology-file-menu">
                    {{#each ontologyFiles}}
                        <div class="item" id="{{_id}}">{{name}}</div>
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="four wide column" id="mapper-options">
            <h4 class="ui center aligned header">
                <div class="centered">
                    Choose an option to populate ontologies
                </div>
            </h4>
            <div class="ui fluid button tiny basic secondary" onclick="populateOntologyWithData();" title="Click to create a populate with data with selected files">with data</div>
            <hr>
            <div class="ui fluid button tiny basic secondary" onclick="populateOntologyWithoutData();" title="Click to create a populate without data with seleted files">without data</div>
        </div>
    </div>
</div>
<!-- Footer -->
{{> footer}}

<script>
    $(document).ready(function() {
        indexOnLoad()
        $('.dropdown').dropdown({fullTextSearch: true})
    });
</script>