<!DOCTYPE html>
<html>
    <head>
        <title>
            Hybrid Ontology Mapping Interface
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
        <link rel="icon" type="image/png" href="/images/favicon.ico">

        <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://d3js.org/d3.v3.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
      
        <!--  Javascripts  -->
        <script src='/scripts/handle-error.js'></script>
        <script src='/scripts/index.js'></script>
        <script src='/scripts/populate.js'></script>
        <script src='/scripts/populate-with-data.js'></script>
        <script src='/scripts/populate-without-data.js'></script>
        <script src='/scripts/tree.js'></script>
        <script src='/scripts/utils.js'></script>

        <script>if (window.module) module = window.module;</script>

        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="/stylesheet/body.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/d3.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/index.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/populate.css">

        <!-- Alertify -->
        <link rel="stylesheet" href="/alertifyjs/css/alertify.css" />
        <link rel="stylesheet" href="/alertifyjs/css/themes/default.css" />
        <script src="/alertifyjs/alertify.min.js"></script>
    </head>
    <body>
        <!-- Body -->
            {{{body}}}
    </body>
</html>