<!-- Navbar -->
{{> navbar  backward=(concat '/populate/data/' _id)}}

<div class="ui body-content">
    <h4 class="ui center aligned icon header">
        <i class="circular sitemap alternate outline icon"></i>
        <div class="content">
            Populate with data: mapping
            <div class="sub header">Individuals mappings submitted to Chaos Pop.</div>
        </div>
    </h4>
    <div id="create-mapping-content">
        <h5>Choose some individual mappings to create an mapping:</h5>
        <div class="ui middle aligned list" id="individuals-to-mapping-list">
            {{#each this.indMappings}}
                <div class="ui item checkbox" title="Select/deselect this individual mapping">
                    <input name="{{_id}}" type="checkbox">
                    <label><b>{{tag}}</b>: {{owlClassIRI}}</label>
                </div>
            {{/each}}
        </div>
        <div class="ui grid">
            <div class="eight wide column">
                <label><b>Choose an output file name:</b></label>
                <div class="ui input fluid" >
                    <input placeholder="Output file name" type="text" id="mapping-name">
                </div>
            </div>
            <div class="six wide column" id="create-mapping-btn">
                <button class="ui medium basic secondary compact button" onclick="createMapping('{{_id}}')" title="Click to create mapping">
                    SUBMIT
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
{{> footer}}