#mapper-content {
    margin-top: -47px;
}

#mapper-segment {
    min-height: 630px;
}

#ontology-file-data {
    max-height: 490px;
    overflow-y:auto;
}

#data-file-data{
    max-height: 525px;
    overflow-y: auto;
    margin-top: -15px;
    margin-left: -15px;
}

#mapping-to-segment {
    min-height: 150px;
}

#classes-to-term, #individual-name-to-term, #data-property-to-term,
#annotation-property-to-term, #object-property-to-term {
    min-height: 30px;
}

#individual-mapping-data {
    margin-bottom: 15px;
    margin-top: 30px;
}
#property-header {
    margin-top: 15px;
}

#select-individual{
    margin-top: 15px;
}

#select-dproperty {
    margin-bottom: 15px;
}

#create-individual-mapping-btn, #create-individual-btn {
    margin-top: 200px;
}
#create-mapping-btn {
    padding-top: 35px;
}

#create-mapping {
    min-height: 600px;
}

#mapper-grid {
    margin-top: 0px;
}

#individual-content {
    margin-top: -14px;
    min-height: 100%;
}

#individual-mapping-content {
    min-height: 500px;
}

#individual-mapping-list {
    max-height: 330px;
    overflow-y: auto;
}

#classes-list {
   margin-top: 15px;
}

#object-properties-list, #data-properties-list, #annotation-properties-list {
    margin-top: -20px;
    max-height: 250px;
    overflow-y: auto;
}

#classes-to-individual {
    min-height: 25px;
}

#individual-name {
    min-width: 20px;
}

#individual-mapping-divider {
    min-width: 800px;
}

#individual-data {
    max-height: 450px;
    overflow-y: auto;
    margin-top: -15px;
    margin-left: -15px;
}

#individuals-to-mapping-list, #individuals-nondata-to-mapping-list {
    min-height: 250px;
    max-height: 250px;
    overflow-y: auto;
}

#individual-row {
    min-height: 500px;
}

#property-input {
    margin-bottom: 15px;
}

#classes-segment {
    min-height: 600px;
}

#populates-table, #files-table {
    max-height: 500px;
    overflow-y: auto;
}

#create-mapping-content {
    padding-left: 100px;
}