<!-- Add files -->
<div class="panel panel-default">
    <div class="panel-heading">
        <strong class="text-white">Upload files</strong>
    </div>
    <div class="panel-body">
        <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="data-file-input">
                <label id = "data-file-label" class="custom-file-label" for="data-file-input">
                    Choose data file
                </label>
            </div>
            <button id="data-file-popover" type="button" class="btn btn-block" data-container="body" data-toggle="popover" data-placement="right" 
                    data-html="true" data-target="#data-file-popover-content">
                    See data file content
                <i class="fa fa-eye"></i>
            </button>
        </div>
        <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="ontology-file-input">
                <label id="ontology-file-label" class="custom-file-label" for="ontology-file-input">
                    Choose ontology file
                </label>
            </div>
             <button id="ontology-file-popover" type="button" class="btn btn-block" data-container="body" data-toggle="popover" data-placement="right" 
                    data-html="true" data-target="ontology-file-popover-content">
                    See ontology file content
                <i class="fa fa-eye"></i>
            </button>
        </div>
        <button type="button" class="btn btn-block" id="send-btn">Submit</button>
    </div>
</div>

<div id="data-file-popover-content" style="display:none">
    <pre id="data-file-content"></pre>
</div>

<div id="ontology-file-popover-content" style="display:none">
    <pre id="ontology-file-content"></pre>
</div>