<!-- Add files -->
<div class="panel panel-default">
    <div class="panel-heading">
        <strong class="text-white">Upload files</strong>
    </div>
    <div class="panel-body">
        <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="data-file-input">
                <label id = "data-file-label" class="custom-file-label" for="data-file-input">
                    Choose data file
                </label>
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="ontology-file-input">
                <label id="ontology-file-label" class="custom-file-label" for="ontology-file-input">
                    Choose ontology file
                </label>
            </div>
        </div>
    </div>
</div>