<!-- Add files -->
<div class="ui center aligned segment compact" id="add-files-segment">
    <div class="ui pointing below label secondary basic" id="data-file-label">
        Data file
    </div>
    <div>
        <input type="file" id="data-file-input" class="file-input" accept=".xml,.json">
        <div class="ui buttons">
            <label for="data-file-input" class="ui animated fade secondary basic button">
                <div class="visible content">
                    <i class="ui folder open icon"></i>
                </div>
                <div class="hidden content">Choose</div>
            </label>
            <div id="data-file-clear" class="ui animated fade secondary basic button">
                <div class="visible content">
                    <i class="ui trash alternate icon"></i>
                </div>
                <div class="hidden content">
                    Clear
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="ui pointing below label secondary basic" id ="ontology-file-label" >
        Ontology file
    </div>
    <div >
        <input type="file" id="ontology-file-input" class="file-input" accept=".owl">
        <div class="ui buttons">
            <label for="ontology-file-input" class="ui animated fade secondary basic button">
                <div class="visible content">
                    <i class="ui folder open icon"></i>
                </div>
                <div class="hidden content">Choose</div>
            </label>
            <div id="ontology-file-clear" class="ui animated fade secondary basic button">
                <div class="visible content">
                    <i class="ui trash alternate icon"></i>
                </div>
                <div class="hidden content">
                    Clear
                </div>
            </div>
        </div>
    </div>
    <div class="ui horizontal divider">
        <i class="tag icon"></i>
    </div>
    <div class="ui buttons black">
        <button class="ui button" onclick="mapperFile();">mapper</button>
        <button class="ui button" onclick="populateOntology();">populate</button>
    </div>
</div>