<!-- Add files -->
<div class="ui floated column">
    <input type="file" id="data-file-input" class="file-input" accept=".xml,.json">
    <div class="ui buttons">
        <div class="ui animated fade secondary basic button">
            <div class="visible content">
                <i class="ui trash alternate icon"></i>
            </div>
            <div class="hidden content">
                Clear
            </div>
        </div>
        <div id = "data-file-submit" class="ui animated fade secondary basic button">
            <div class="visible content">
                <i class="ui cloud upload icon"></i>
            </div>
            <div class="hidden content">
                Submit
            </div>
        </div>
        <label for="data-file-input" class="ui animated fade secondary basic button">
            <div class="visible content">
                <i class="ui folder open icon"></i>
            </div>
            <div class="hidden content">Choose</div>
        </label>
        <button class="ui left pointing label secondary basic" id ="data-file-label" disabled>
            Data file
        </button>
    </div>
</div>
<div class="ui floated column">
    <input type="file" id="ontology-file-input" class="file-input" accept=".owl">
    <div class="ui buttons">
        <div class="ui animated fade button secondary basic">
            <div class="visible content">
                <i class="ui trash alternate icon"></i>
            </div>
            <div class="hidden content">
                Clear
            </div>
        </div>
        <div  id="ontology-file-submit" class="ui animated fade secondary basic button">
            <div class="visible content">
                <i class="ui cloud upload icon"></i>
            </div>
            <div class="hidden content">
                Submit
            </div>
        </div>
        <label for="ontology-file-input" class="ui animated fade secondary basic button">
            <div class="visible content">
                <i class="ui folder open icon"></i>
            </div>
            <div class="hidden content">Choose</div>
        </label>
        <button class="ui left pointing label secondary basic" id ="ontology-file-label" disabled >
            Ontology file
        </button>
    </div>
</div>