<h5 class="ui center aligned header" id="property-header">
    <button class="ui icon circular button basic secondary" onclick="createObjectProperty('{{nodeId}}', '{{_id}}');">
        <i class="icon plus"></i>
    </button>
    OBJECT PROPERTIES
</h5>
<div class="oproperty-to">
    <div id="oproperty-to-term">
    </div>
</div>
<div class="ui fluid multiple search selection dropdown" onmousedown="{this.size=3}">
    <input name="select-oproperty" type="hidden">
    <i class="dropdown icon"></i>
    <div class="default text">Select object properties</div>
    <div class="menu" id="objectproperties-menu">
        {{#each this.oproperties}}
            <div class="item" data-value" {{this}}">
            {{this}}
        </div>
        {{/each}}
    </div>
</div>