<h5 class="ui center aligned header" id="property-header">
    <button class="ui icon circular button basic secondary" onclick="createAnnotationProperty('{{_id}}');">
        <i class="icon plus"></i>
    </button>
    ANNOTATION PROPERTIES
</h5>
<div class="aproperty-to">
    <div id="aproperty-to-term">
    </div>
</div>
<div class="ui fluid search selection dropdown">
    <input name="select-aproperty" type="hidden">
    <i class="dropdown icon"></i>
    <div class="default text">Select annotation properties</div>
    <div class="menu" id="annotation-properties-menu">
        {{#each this.aproperties}}
            <div class="item" data-value="{{this}}">
            {{this}}
        </div>
        {{/each}}
    </div>
</div>