<h5 class="ui center aligned header" id="property-header">
    ANNOTATION PROPERTIES
    <button class="ui button mini basic secondary right floated">
        ADD
    </button>
</h5>
<div class="ui labeled input fluid">
    <div class="ui label">
        Annotation property value:
    </div>
    <input id="individual-data-property" placeholder="Value" type="text">
</div>
<div class="ui fluid search selection dropdown">
    <input name="select-aproperty" type="hidden">
    <i class="dropdown icon"></i>
    <div class="default text">Select annotation properties</div>
    <div class="menu" id="annotation-properties-menu">
        {{#each this.aproperties}}
            <div class="item" data-value="{{this}}">{{this}}</div>
        {{/each}}
    </div>
</div>