<h5 class="ui center aligned header" id="property-header">
    OBJECT PROPERTIES
    <button class="ui button mini basic secondary right floated">
        ADD
    </button>
</h5>
<div class="ui fluid search selection dropdown">
    <input name="select-oproperty" type="hidden">
    <i class="dropdown icon"></i>
    <div class="default text">Select an individual</div>
    <div class="menu" id="object-properties-menu">
        {{#each this.individuals}}
            <div class="item" data-value="{{this}}">{{this}}</div>
        {{/each}}
    </div>
</div>
<div class="ui fluid search selection dropdown">
    <input name="select-oproperty" type="hidden">
    <i class="dropdown icon"></i>
    <div class="default text">Select an object property</div>
    <div class="menu" id="object-properties-menu">
        {{#each this.oproperties}}
            <div class="item" data-value="{{this}}">{{this}}</div>
        {{/each}}
    </div>
</div>