<!-- Navbar -->
<nav class="ui inverted top attached menu body-navbar">
    <a class="item" href="{{backward}}">
        <i class="arrow left icon"></i>
    </a>
    <a class="item" href="/">
        H.O.M.I
    </a>
</nav>