<!-- Navbar -->
<nav class="navbar navbar-dark bg-dark navbar-expand-sm flex-row flex-nowrap">
    <div class="navbar-collapse collapse">
        <div class="nav flex-sm-column flex-row">
            <div class="navbar-header text-center">
                <h6 class="navbar-brand">APP NAME</h6>
                <h5 class="text-white">An interactive mapping tool for ontologies</h5>
            </div>
            <div class="add-files">
                {{> addFiles}}
            </div>
        </div>
    </div>
</nav>