<div id="ontology-classes-{{id}}">
    <div class="ui grouped fields">
        {{#each this.classes}}
            <div class="field">
                <div class="ui radio checkbox">
                    <input name="checked-class" type="radio">
                    <label>{{this}}</label>
                </div>
            </div>
        {{/each}}
    </div>
</div>