<div id=ontology-properties-{{id}}>
    <div class="ui grouped fields">
        {{#each this.properties}}
            <div class="field">
                <div class="ui radio checkbox">
                    <input name="checked-property" type="radio">
                    <label>{{this}}</label>
                </div>
            </div>
        {{/each}}
    </div>
</div>