<div id="ontology-file-{{id}}">
    <div class="ui buttons fluid">
        <button class="ui secondary basic button" onclick="getOntologyFileData('{{id}}', 'classes');">Classes</button>
        <button class="ui secondary basic button" onclick="getOntologyFileData('{{id}}', 'objectproperties');">Object Properties</button>
        <button class="ui secondary basic button" onclick="getOntologyFileData('{{id}}', 'dataproperties');">Data Properties</button>
    </div>
    <div id="ontology-file-data" class="left aligned">
    </div>
</div>