<div class="ui attached black segment body-content">
    <div class="ui equal width center aligned attached grid">
        {{> addFiles}}
    </div>
</div>
<div class="ui equal width attached grid">
    <div class="row">
        <div id="ontology-file-content" class="column">
            <!-- {{> loader text='Ontology file'}} -->
        </div>
        <div id="data-file-content" class="column">
            <!-- {{> loader text='Data file'}} -->
        </div>
    </div>
</div>