<div class="ui grid black segment">
    {{> addfiles}}
</div>
<div class="ui grid">
    <div id="data-file-nodes" class="eight wide column">
        NODES
    </div>
    <div id="ontology-file-classes" class="eight wide column">
        CLASSES
    </div>
</div>
