<div class="row">
    <div class="col-sm-3">
        {{> navbar}}
    </div>
    <div class="col-sm-9">
        <p>
            ONTOLOGY EDITOR HERE
        </p>
        <div class="row">
            <div id="data-file-nodes" class="col-sm-6">
                NODES
            </div>
            <div id="ontology-file-classes" class="col-sm-6">
                CLASSES
            </div>
        </div>
    </div>
</div>
