<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
      
        <!--  Javascripts  -->        
        <script src='/scripts/onload.js'></script>  
        <script src='/scripts/httpRequest.js'></script>
        <script src='/scripts/uploadFiles.js'></script>  

        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="/stylesheet/loader.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/others.css">

        <!-- Alertify -->
        <link rel="stylesheet" href="alertifyjs/css/alertify.css" />
        <link rel="stylesheet" href="alertifyjs/css/themes/default.css" />
        <script src="alertifyjs/alertify.min.js"></script>
    </head>
    <body>
        <!-- Navbar -->
       
        
            <!-- Body -->
            {{{body}}}
            <!-- Footer -->
            
         
    </body>
</html>