<!DOCTYPE html>
<html>
    <head>
        <title>
            Hybdrid Ontology Mapping Interface
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://d3js.org/d3.v3.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>
      
        <!--  Javascripts  -->
        <script src='/scripts/d3.js'></script>
        <script src='/scripts/files.js'></script>
        <script src='/scripts/mapping.js'></script>
        <script src='/scripts/onload.js'></script>
        <script src='/scripts/ontology.js'></script>
        <script src='/scripts/populating.js'></script>
        <script src='/scripts/request.js'></script>
        <script src='/scripts/utils.js'></script>


        <!-- Styles -->
        <link rel="stylesheet" type="text/css" href="/stylesheet/d3.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/addfiles.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/body.css">
        <link rel="stylesheet" type="text/css" href="/stylesheet/files.css">

        <!-- Alertify -->
        <link rel="stylesheet" href="alertifyjs/css/alertify.css" />
        <link rel="stylesheet" href="alertifyjs/css/themes/default.css" />
        <script src="alertifyjs/alertify.min.js"></script>
    </head>
    <body>
        <!-- Body -->
            {{{body}}}
    </body>
</html>