.file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

@media (min-height: 320px) {
    .ui.footer.form-page { /* Increased specificity for SO snippet priority */
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

#add-files-segment {
    margin-left: 35%;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 5%;
}