#ontology-file-data {
    max-height: 490px;
    overflow-y:auto;
}

.m-loader {
    padding-bottom: 300px;
}

#data-file-data {
    max-height: 500px;
    overflow-y: auto;
}

#mapper-content {
    margin-top: -47px;
}

#mapping-to-segment {
    min-height: 170px;
}

#individual-mapping-segment {
    min-height: 330px;
}

#classes-selection, #dproperties-selection, #oproperties-selection {
    min-height: 42px;
    margin-bottom: 5px;
}

.classes-to, .oproperty-to, .dproperty-to {
    min-height: 45px;
}