#ontology-file-data {
    max-height: 490px;
    overflow-y:auto;
}

.m-loader {
    padding-bottom: 300px;
}

#data-file-data {
    max-height: 500px;
    overflow-y: auto;
}

#mapper-content {
    margin-top: -47px;
}

#mapper-segment {
    min-height: 500px;
}


#mapping-to-segment {
    min-height: 170px;
}


#classes-selection, #dproperty-selection, #oproperty-selection, #property-selection {
    min-height: 42px;
    margin-bottom: 5px;
}

.classes-to, .oproperty-to, .dproperty-to, .property-to {
    min-height: 45px;
}

#individual-mapping-content {
    min-height: 300px;
}