.ui.action.input input[type="file"] {
    display: none;
}

#files-content {
    margin-top: -50px;
}

#files-content-column {
    min-height: 350px;
    margin-top: -10px;
}

.files-dropdown {
    margin-top: 15px;
}

#mapper-options {
    min-width: 400px;
    margin-left: 200px;
}

#populates-column {
    min-height: 550px;
}