#mapper-content {
    margin-top: -47px;
}

#mapper-segment {
    min-height: 525px;
    margin-top: -15px;
}

#ontology-file-data {
    max-height: 490px;
    overflow-y:auto;
}

#data-file-data {
    max-height: 530px;
    overflow-y: auto;
    margin-top: -15px;
    margin-left: -15px;
}

#mapping-to-segment {
    min-height: 150px;
}

.classes-to, .oproperty-to, .dproperty-to, .aproperty-to {
    min-height: 45px;
}

#individual-mapping-content {
    min-height: 250px;
}

#individual-mapping-data {
    margin-bottom: 15px;
    margin-top: 30px;
}
#property-header {
    margin-top: 15px;
}

#select-dproperty{
    margin-top: 15px;
}