#mapper-content {
    margin-top: -47px;
}

#mapper-segment {
    min-height: 525px;
    margin-top: -15px;
}

#ontology-file-data {
    max-height: 490px;
    overflow-y:auto;
}

#data-file-data {
    max-height: 530px;
    overflow-y: auto;
    margin-top: -15px;
    margin-left: -15px;
}

#mapping-to-segment {
    min-height: 170px;
}

#classes-selection, #dproperty-selection, #oproperty-selection, #property-selection {
    min-height: 42px;
    margin-bottom: 5px;
}

.classes-to, .oproperty-to, .dproperty-to, .property-to {
    min-height: 45px;
}

#individual-mapping-content {
    min-height: 300px;
}

#individual-mapping-buttons {
    margin-bottom: 10px;
}