.ui.action.input input[type="file"] {
    display: none;
}

#files-content {
    margin-top: -50px;
}

#files-content-column {
    min-height: 700px;
}

.files-dropdown {
    margin-top: 15px;
}

#mapper-options {
    padding-top: 150px;
}

.non-404-error {
    margin-top: -0px;
}
